<div class="container">
  <div class="row">
    <div class="col">

      <div class="masonry">
        <div class="grid" *ngFor="let item of data | async">
          <img [src]="item.download_url" class="card-img-top"   width="150">
        </div>
      </div>
    </div>
  </div>
</div>





